*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 20px;
}
body{
    margin: auto;
    text-align: center;
}
h1{
    font-size: 30px;
}
#logo{
    height: 200px;
    margin: 20px;
}
input{
    padding: 5px;
    margin: 10px;
    width: 150px;
    border-radius: 5px;
    border-color: aquamarine;
    color:greenyellow;
}
input:focus{
    outline: none;
}
.entries{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
button{
    display: none;
    padding: 5px;
    color: black;
    background-color: rgba(172, 255, 47, 0.705);
    border-radius: 5px;
    border: none;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 40px auto;
}
li{
    font-size: 18px;
    margin: auto;
}
li img{
    height: 200px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(245, 245, 245, 0.623);
}
@media (max-width: 769px){
    #logo{
        height: 150px;
        margin: 20px;
    }
    button{
        display: block;
    }
}
@media (max-width: 550px){
    #logo{
        height: 100px;
        margin: 20px;
    }
    h1{
        font-size: 22px;
    }
    li img{
        height: 100px;
        margin: 10px;
    }
    
}
@media (max-width: 376px) {
    #logo{
        height: 80px;
        width: 250px;
        margin: 20px;
    }
    li{
        font-size: 13px;
        margin: auto;
    }
    input{
        width: 100px;
        height: 15px;
        font-size: 15px;
    }button{
        font-size: 15px;
    }
}
